body { 
    color: blue;
    font-family: arial;
    margin: 0px;
}
div {
    background-color: darkgray
    border: solid 10px brown
} 

.second-div{
    background-color: brown
}


#second-li {
    font-size: 30px;
}

img {
    width: 300px;
    border-radius: 50px;
}

